.flag {
	height: 35px;
	display: none;
	margin-right: 1em;
}
.sv .en {display: block;}
.en .sv {display: block;}

.appstorebadge {
	height: 40px;
	margin-right: 12px;
}

.logo {
	height: 130px;
	margin: 20px;
}

.container {
	max-width: 1100px;
	position: relative;
	margin: 0 auto;
}

.customfbcontainer{
	margin-bottom: 1em;
}

dt {
	float: left;
	clear: left;
	font-weight: bold;
	margin-right: 1em;
	margin-left: 1em;
}

.gallery {
	text-align: right;
}

.gallery > div {
	display: inline-block;
}
