.flag {
	position: fixed;
	height: 35px;
	right: 3em;
	display: none;
}
.sv .en {display: block;}
.en .sv {display: block;}

#wrapper {
	position: relative;
	margin-left: 1em;
	margin-right: 500px;
}

.appstorebadge {
	height: 60px;
}

.logo {
	height: 200px;
}

.logo, .appstorebadge {
	margin: 1em 5em;
}

#gallery {
	position: fixed;
	right: 0;
	bottom: 0;
}

.container {
	max-width: 1100px;
	position: relative;
	margin: 0 auto;
}

.customfbcontainer{
	margin-bottom: 1em;
}

dt {
	float: left;
	clear: left;
	font-weight: bold;
	margin-right: 1em;
	margin-left: 1em;
}