.flag {
	position: absolute;
	height: 20px;
	right: 3em;
}

.sv {right: 6em;}
.sv .sv {height: 30px;}
.en .en {height: 30px;}

#wrapper {
	position: relative;
	margin-left: 1em;
	margin-right: 500px;
}

.appstorebadge {
	height: 60px;
}

.logo {
	height: 200px;
}

.logo, .appstorebadge {
	margin: 1em 5em;
}

#gallery {
	position: absolute;
	right: 0;
	bottom: 0;
}